.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 50px;
	position: relative;
	z-index: 1;
}
#x_logo {
	height: 400px;
	width: 400px;
	z-index: 2;
}
.form-container {
	display: flex;
	flex-direction: column;
	height: 350px;
	justify-content: space-between;
	background-color: rgba(255,255,255,0.9);
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	z-index: 2;
}
.form-container h1 { 
	margin-top: 0px;
}
.login-btn {
	background-color: skyblue;
	padding: 10px 15px;
}
#login-error {
	color: red;	
}
body{
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	position: relative;
    margin: 0px;
	padding: 0px;

}
